/* Estilo mais fino para o accordion */
#bloco_principal {
	margin-top: 30px;
}

.row {
	margin-bottom: 30px;
}

.custom-accordion .accordion-button {
	padding: 0.5rem 1rem;
	border-radius: 0;
	background-color: #f8f9fa;
	color: #212529;
	border: 1px solid #ced4da;
}

.custom-accordion .accordion-button:hover {
	background-color: #e9ecef;
}

.custom-accordion .accordion-button:focus {
	box-shadow: none;
}

.custom-accordion .accordion-button:not(.collapsed) {
	background-color: #e9ecef;
}

/* Adiciona espaço entre os accordions */
.custom-accordion .accordion-item {
	margin-bottom: 0;
}
